<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configurações de conexão com o banco de dados -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://aws.connect.psdb.cloud/bancotestes_planetscale?sslMode=VERIFY_IDENTITY&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">mqctx0wk0qgzvl2n1hpg</property>
        <property name="hibernate.connection.password">pscale_pw_Q0aqDb73WTgbYLgjljhjcPRJrPG8yLnnK8tfyc1fH7C</property>

        <!-- Configuração para criar as tabelas automaticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento das classes de entidade -->
        <mapping class="Projeto.Entidades.Cliente"/>
        <mapping class="Projeto.Entidades.Conta"/>
        <mapping class="Projeto.Entidades.Gerente"/>
        <mapping class="Projeto.Entidades.Operacao"/>

    </session-factory>
</hibernate-configuration>

database: bancotestes_planetscale
username: mqctx0wk0qgzvl2n1hpg
host: aws.connect.psdb.cloud
password: pscale_pw_Q0aqDb73WTgbYLgjljhjcPRJrPG8yLnnK8tfyc1fH7C
